::-webkit-scrollbar {
  width: 18px;
  background-color: #f5f0e6;
}

::-webkit-scrollbar-thumb {
  background: url('assets/images/literaturePaper.png') no-repeat center;
  background-size: cover;
  border: 1px solid #7b583c;
  border-radius: 6px;
  box-shadow: inset 1px 1px 2px #f3e6ce;
}